// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use 'variables' as *;

// -----------------------------------------------------------------------------
// Accessibility Mixins
// -----------------------------------------------------------------------------

/// Makes an element visually hidden, but accessible.
/// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/// Turns off the visually-hidden effect.
@mixin visually-hidden-off {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
}

/// Makes an element visually hidden by default, but visible when focused.
@mixin focusable {
  @include visually-hidden;

  &:active,
  &:focus {
    @include visually-hidden-off;
  }
}

// -----------------------------------------------------------------------------
// Typography Mixins
// -----------------------------------------------------------------------------
@mixin h1 {

}

@mixin h2 {

}

@mixin h3 {

}

@mixin h4 {

}

// -----------------------------------------------------------------------------
// Utility Mixins
// -----------------------------------------------------------------------------
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

/// Centers a block level element, requires width
@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/// Vertical align, all browsers http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

// -----------------------------------------------------------------------------
// Layout Mixins
// -----------------------------------------------------------------------------
@mixin alignwide {
  max-width: var(--page-width-wide);
  margin-left: auto;
  margin-right: auto;
}

@mixin extra-wide {
  max-width: var(--page-width-extra-wide);
  margin-left: auto;
  margin-right: auto;
}

// -----------------------------------------------------------------------------
// Theme Mixins
// -----------------------------------------------------------------------------
@mixin button {
  padding: rem-calc(10) rem-calc(24);
  border-radius: 50px;
  border: solid 1px var(--background, #01647c);
  background-color: var(--background, #01647c);
  font-family: $system-serif;
  font-size: rem-calc(18);
  font-weight: bold;
  color: var(--foreground, $white);
  line-height: 1.2;
  text-decoration: none;
  transition: background-color $transition, color $transition, border $transition;
  cursor: pointer;

  &:hover, &:active, &:focus {
    border-color: var(--background-active, currentColor);
    background-color: var(--background-active, $white);
    color: var(--foreground-active, #01647c);
    text-decoration: none;
  }
}

@mixin button-secondary {
  --background: #F37143;
  --foreground: #{$white};
  --foreground-active: #F37143;
}
