// -----------------------------------------------------------------------------
// Font Stacks and Sizes
// @font-face definitions should be defined in base/_fonts.scss
// -----------------------------------------------------------------------------
$libre-franklin: 'Libre Franklin', sans-serif;
$lora: Lora, serif;

$base-font-size: 20; // Pixel value only, no px unit
$base-line-height: 1.5;
