@use 'abstracts';
@use 'base';
@use 'blocks';
@use 'components';
@use 'layout';
@use 'pages';

// Style editor messages, that appear for empty ACF blocks.
.editor-message {
  display: block;
  padding: 1rem 1.25rem;
  background-color: #fdcece;
}