@use "../abstracts" as *;

.site-footer {
  padding: $vertical-spacing $page-margin;
  background-color: #f3f3f3;
}

.site-footer__inner {
  max-width: var(--page-width-wide);
  margin-left: auto;
  margin-right: auto;
}

.site-footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.site-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #d6d6d6;
}

.site-footer-branding {
  display: block;
  max-width: 200px;
}

.site-footer-menu .menu {
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5rem;

  a {
    text-decoration: none;

    &:hover,  &:active, &:focus {
      text-decoration: underline;
    }
  }
}

.site-footer-signup {
  flex-basis: 30%;
  flex-shrink: 1;
}
