@use "../abstracts" as *;

.site-header {
  background-color: #f3f3f3;

  .site-branding {
    display: block;
    max-width: 200px;
  }
}

.site-header__top {
  position: relative; // for mobile menu positioning
  padding: $vertical-spacing $page-margin;
  background-color: $white;

  .site-header__top--inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    max-width: var(--page-width-wide);
    margin-left: auto;
    margin-right: auto;
  }

  .top-header-menu a {
    text-decoration: underline;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}

.site-header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width-wide);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  a {
    text-decoration: none;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}
