@use "../abstracts" as *;

.main-navigation--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.main-navigation--mobile {
  margin-right: auto;

  @media (min-width: $desktop) {
    display: none;
  }

  // mobile menu container
  .navigation-disclosure__content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 1rem;
    background-color: $blue;
  }
}

// mobile menu button
.navigation-disclosure__button {
  display: flex;
  align-items: center;
  gap: .5em;
  font-weight: bold;

  &[aria-expanded="true"] .icon--menu,
  &[aria-expanded="false"] .icon--close {
    display: none;
  }

  .icon--close,
  .icon--menu {
    height: 25px;
    width: 25px;
  }
}

// Menu styles
.disclosure-menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    flex-wrap: nowrap; // Ensure submenu button doesn't wrap under link
  }

  .menu-item-has-children {
    position: relative; // for submenu positioning
    display: flex;
    z-index: 10;
  }

  .submenu-disclosure__button {
    svg {
      width: 19px;
      height: 10px;
      pointer-events: none;

      @media (min-width: $desktop) {
        width: 14px;
        height: 7px;
      }
    }
  }

  .sub-menu {
    margin: 0;
    padding: .25rem;
    list-style: none;
  }

  .menu-item-link--level-1 {
    color: $blue;
    font-weight: bold;
    text-decoration: none;
  }

  a.menu-item-link--level-1 {
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  span.menu-item-link--level-1 {
    cursor: default;
  }

  .menu-item-link--level-2 {
    display: block;
    padding: .25rem;
    font-weight: 500;
    color: $white;
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: $white;
      text-decoration: underline;
    }
  }
}

// desktop menu
.disclosure-menu--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  gap: .75rem;

  .menu-item-has-children {
    align-items: flex-end;
  }

  .submenu-disclosure__button {
    color: $blue;
  }

  .submenu-disclosure__content {
    top: 100%;
    width: rem-calc(302);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity $transition allow-discrete, transform $transition allow-discrete;
  }

  .submenu-disclosure__button[aria-expanded="true"] + .submenu-disclosure__content {
    opacity: 1;
    transform: translateY(0);

    @starting-style {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .sub-menu {
    margin-top: rem-calc(10);
    margin-left: rem-calc(-20);
    padding: rem-calc(16) rem-calc(20);
    background-color: $blue;
  }

  .menu-item-link--level-2 {
    font-size: rem-calc(20);
  }
}

// mobile menu
.disclosure-menu--vertical {
  flex-direction: column;
  row-gap: rem-calc(20);

  .menu-item-has-children {
    flex-direction: column;
  }

  .submenu-disclosure__button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: $white;
  }

  .sub-menu {
    margin-left: rem-calc(8);
  }

  .menu-item-link--level-1 {
    padding-right: rem-calc(50); // reserve space for submenu icon
    font-size: rem-calc(22);
    color: $white;

    &:focus, &:hover, &:active {
      color: $white;
      text-decoration: underline;
    }
  }

  .menu-item-link--level-2 {
    font-size: rem-calc(20);
    color: $white;

    &:focus, &:hover, &:active {
      color: $white;
      text-decoration: underline;
    }
  }
}
