@use "../abstracts" as *;

// ---------------------------------------------------
// Sets some default block spacing.
// ---------------------------------------------------
:root {
	--block-spacing: #{$vertical-spacing * 1.5};

	@media (min-width: $tablet) {
		--block-spacing: #{$vertical-spacing * 2.5};
	}
}


// ---------------------------------------------------
// Site wide horizontal padding.
// ---------------------------------------------------
.site-main {
  padding-left: $page-margin;
  padding-right: $page-margin;
}

// ---------------------------------------------------
// Core block layout styles.
// ---------------------------------------------------
.is-layout-grid {
	display: grid;
	gap: var(--block-spacing);
}

.wp-block-post-content {
	margin-top: var(--header-margin);
}

// add extra spacing for the last block on the page
.wp-block-post-content:last-child > :first-child {
	margin-bottom: var(--block-spacing);
}

/* provide default spacing for all blocks */
.wp-block-post-content > *:not(p, .wp-block-heading, .alignleft, .alignright) {
	margin-bottom: var(--block-spacing);
}

/* increase spacing of align wide blocks  */
.wp-block-post-content > .alignwide {
	margin-top: var(--block-spacing);
	margin-bottom: var(--block-spacing);
}

/* remove spacing from align full blocks */
.wp-block-post-content > .alignfull {
	margin-top: 0;
	margin-bottom: 0;
}

/* add space between full and non-full width blocks */
.wp-block-post-content > .alignfull + :not(.alignfull, .alignright, .alignleft) {
	margin-top: var(--block-spacing);
}

/* add extra spacing for the last block on the page */
.wp-block-post-content:last-child > :last-child {
	margin-bottom: var(--footer-margin);
}

/* remove bottom spacing from the last block on the page if it is align full */
.wp-block-post-content > :last-child.alignfull {
  margin-bottom: 0;
}

.wp-block-post-content {
	> * {
		max-width: var(--page-width);
		margin-left: auto;
		margin-right: auto;
	}

	.alignfull {
		width: calc(100% + ($page-margin * 2));
		max-width: none;
		transform: translateX($page-margin * -1);
	}

	.alignright,
	.alignleft {
		--spacing: #{$spacing};
		--width: #{calc(50% - ($page-width/2))};
		width: auto;
		margin-bottom: var(--spacing);

		@media (min-width: $tablet) {
			max-width: rem-calc(400);
		}

		// Avoid extra space when a left/right aligned image has a caption.
		.wp-element-caption {
			margin-bottom: 0;
		}
	}

	.alignleft {
		@media (min-width: $tablet) {
			margin-right: var(--spacing);
			margin-left: var(--width);
			float: left;
		}
	}

	.alignright {
		@media (min-width: $tablet) {
			margin-left: var(--spacing);
			margin-right: var(--width);
			float: right;
		}
	}
}

.alignwide {
	@include alignwide;
}

.align-extra-wide {
 @include extra-wide;
}

.alignfull, .alignwide {
	clear: both; // Don't float wide or full-width blocks.
}