.icon--bluesky-dims {
    width: 23px;
    height: 20px;
}

.icon--caret-dims {
    width: 18.66px;
    height: 12.84px;
}

.icon--close-dims {
    width: 512px;
    height: 512px;
}

.icon--facebook-dims {
    width: 10px;
    height: 20px;
}

.icon--instagram-dims {
    width: 20px;
    height: 20px;
}

.icon--linkedin-dims {
    width: 20px;
    height: 20px;
}

.icon--mastodon-dims {
    width: 448px;
    height: 512px;
}

.icon--menu-dims {
    width: 512px;
    height: 512px;
}

.icon--rss-dims {
    width: 20px;
    height: 20px;
}

.icon--search-dims {
    width: 16.99px;
    height: 16.99px;
}

.icon--threads-dims {
    width: 448px;
    height: 512px;
}

.icon--tiktok-dims {
    width: 448px;
    height: 512px;
}

.icon--x-dims {
    width: 20px;
    height: 20px;
}

.icon--youtube-dims {
    width: 28.23px;
    height: 20px;
}

