.icon--bluesky-dims {
    width: 23px;
    height: 20px;
}

.icon--facebook-dims {
    width: 10px;
    height: 20px;
}

.icon--instagram-dims {
    width: 20px;
    height: 20px;
}

.icon--linkedin-dims {
    width: 20px;
    height: 20px;
}

.icon--mastodon-dims {
    width: 448px;
    height: 512px;
}

.icon--rss-dims {
    width: 20px;
    height: 20px;
}

.icon--threads-dims {
    width: 448px;
    height: 512px;
}

.icon--tiktok-dims {
    width: 448px;
    height: 512px;
}

.icon--x-dims {
    width: 20px;
    height: 20px;
}

.icon--youtube-dims {
    width: 28.234px;
    height: 20px;
}

