// Spacing Sizes
// -------------
$gutter: 1rem;
$double-gutter: $gutter * 2;
$triple-gutter: $gutter * 3;
$gutter-plus: $gutter * 1.5;
$gutter-minus: $gutter * 0.75;
$half-gutter: $gutter * 0.5;
$quarter-gutter: $gutter * 0.025;

// Type Sizes
// ----------



// Breakpoint Sizes
// ----------------



// Buttons
// -------
$btn-radius: 0;
$border-small: 1px;