a {
	color: var(--link-state, var(--link));

	&:visited {
		--link-state: var(--link-visited);
	}

	&:hover,
	&:focus,
	&:active {
		--link-state: var(--link-hover);
		outline: var(--outline-width, 0) dotted;
	}

	&:focus {
		--outline-width: thin;
	}
}
