// Base HTML Styles

@use "sass:math";
@use "../abstracts" as *;

:root {
  --page-width: #{$page-width};
  --page-width-wide: #{$page-width-wide};
  --page-width: 900px;
  --page-width-wide: 1200px;

  // Theme Variables
  --header-margin: #{rem-calc(60)};
  --footer-margin: #{rem-calc(60)};

  // WP Overrides
  --wp--style--block-gap: #{$vertical-spacing};
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100% * math.div($base-font-size, 16);
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: clip;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $system;
  overflow-x: clip;
}

// 1. Inherit theme styles.
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; // 1
  font-size: inherit; // 1
  line-height: $base-line-height; // 1
}

button {
  background: none;
  border: 0;
  color: inherit;
}

img,
picture,
object,
input {
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}

figcaption {

}

strong.geomanist {
  font-family: $system-serif;
  font-weight: 500;
}

svg {
  height: auto;
  display: block;
  pointer-events: none; // prevents SVGs from blocking JS click events
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  list-style: none;
}
