// Base Typography Styles
@use "../abstracts" as *;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: $system-serif;
  color: #01647c;
}

h1 {

}

h2 {

}

h3 {

}

h4, h5, h6 {

}

pre {
  margin: 0;
  overflow-x: auto;
  white-space: pre-wrap;
}

p {
  margin: 0 0 $vertical-spacing * 2 0;
}

blockquote {
  margin: 0 $vertical-spacing;
}

pre {
  margin: 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: 50%;
  line-height: 0;
}

sub {
  vertical-align: sub;
  font-size: 50%;
  line-height: 0;
}

a {
  color: #01647c;
  transition: color $transition;

  &:hover, &:focus, &:active {
    color: #474442;
    text-decoration: none;
  }
}

.wp-block-heading + .alignwide,
.wp-block-heading + .alignfull {
  margin-top: calc(var(--block-spacing) * 2);
}