// Base Typography Styles
@use "../abstracts" as *;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: $lora;
  font-weight: bold;
  color: var(--color, $blue);
  line-height: 1.2;
  word-break: break-word;
}

h1 {

}

h2 {

}

h3 {

}

h4, h5, h6 {

}

pre {
  margin: 0;
  overflow-x: auto;
  white-space: pre-wrap;
}

p {
  margin: 0 0 $vertical-spacing * 2 0;
}

blockquote {
  margin: 0 $vertical-spacing;
}

pre {
  margin: 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: 50%;
  line-height: 0;
}

sub {
  vertical-align: sub;
  font-size: 50%;
  line-height: 0;
}

a {
  color: var(--link, $blue);
  transition: color $transition;

  &:hover, &:focus, &:active {
    color: var(--link-active, #474442);
    text-decoration: none;
  }
}
