@use "../abstracts" as *;

// Add page margin when block is full width
.wp-block-group.alignfull {
  padding-right: $page-margin;
  padding-left: $page-margin;
}

// Add spacing to nested blocks
:where(.wp-block-group > *) {
  margin-bottom: var(--block-spacing);
}

.wp-block-group.has-background {
  padding: $vertical-spacing * 4 $page-margin;
}

// Remove space after last nested child
.wp-block-group {
  :last-child {
    margin-bottom: 0;
  }
}