@use "../abstracts" as *;

.wp-block-query-pagination {
  margin-top: 3rem;

  .page-numbers {

  }

  .page-numbers.current {

  }

  .wp-block-query-pagination-next,
  .wp-block-query-pagination-previous {
    padding: rem-calc(6);
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  .wp-block-query-pagination-previous-arrow,
  .wp-block-query-pagination-next-arrow {
    content: "";
    display: inline-block;
    height: 20px;
    width: 18px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2720%27%3E%3Cpath fill=%27%23000000%27 d=%27M11.916 17.841 10 19.757l-9.9-9.9L10-.041l1.916 1.916-7.983 7.984z%27/%3E%3C/svg%3E") 0 /7px no-repeat;
    background-size: 7px;
    vertical-align: bottom;
    font-size: 0;
    line-height: 0;
  }

  .wp-block-query-pagination-next-arrow {
    transform: rotate(180deg);
  }
}
