@use "../abstracts" as *;

.wp-block-separator {
  border-color: $dark-blue;

  &:not(.is-style-wide) {
    max-width: 300px !important; // add specificity to override editor styles
    border-top-width: 4px;
  }

  &.is-style-wide {
    border-top-width: 1px;
  }
}
