@use "../abstracts" as *;

// Add page margin when block is full width
.wp-block-group.alignfull {
  padding-right: $page-margin;
  padding-left: $page-margin;
}

// Add more padding when block has background color.
.wp-block-group.has-background {
  padding: $vertical-spacing * 4 $page-margin;

  // Remove spacing from last block
  > :last-child {
    margin-bottom: 0;
  }
}
